* {
    box-sizing: border-box;
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
    /*typography*/

a {
    text-decoration: none;
} 
h1 {
    font-size: 40px;
}
h2 {
    font-size: 28px;
}
p {
    margin: 10px;
}

/*button*/

.btn {
    background: #d79398;
    color: #4b3425;
    display: inline-block;
    padding: 10px;
    border-radius: 8px;
    border: none;

}
.btn:hover {
    background:#4b3425;
    color: #d79398; 
}
.container {
    
    max-width: 980px;

}
header {
    position: relative;
    background-color: gainsboro;
}
nav {
    position: absolute;
    right: 0px;
    top: 0px;
}
nav ul {
    list-style: none;

}
nav li {
    display: inline-block;

}
nav a {
    color: white;
    font-size: 20px;
    display: inline-block;
    padding: 40px 40px 0 10px
}
.fc {
    display: flex;
}
.hero {
    background-color: dodgerblue;
    height: calc(100vh);
    display: flex;
    justify-content: center;
    align-items: center;
    
    
}
.content {
    display: inline-block;
    max-width: 650px;

    background: linear-gradient(
        135deg,
        rgba(0,0,0,0)5%,
        rgba(0,0,0,.75)5%,
        rbga(0,0,0,.75)95%,
        rgba(0,0,0,0)95%
    );
    color:#fff;
    margin: 0 auto;
    padding: 50px;
    text-align: center;
    border: 2px solid;
    border-radius: 5px;
    
    
}